html,
body,
div#__next,
main {
  height: calc(100vh - 90px);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  width: 100%;
  margin: 0;
  background-color: #1F1F1F;
}

a {
  text-decoration: none;
  color: #747578;
  font-weight: 600;
  transition: 300ms;
  &:hover {
    opacity: 0.7;
  }
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

.m-0 {
  margin: 0 !important;
}

.mr-10 {
  margin-right: 0.625rem;
}
.mb-10 {
  margin-bottom: 0.625rem;
}
.mb-20 {
  margin-bottom: 1.25rem;
}
.mb-30 {
  margin-bottom: 1.875rem;
}
.mb-50 {
  margin-bottom: 3.125rem;
}

.ml-10 {
  margin-left: 0.625rem;
}
.ml-20 {
  margin-left: 1.25rem;
}
.ml-30 {
  margin-left: 1.875rem;
}

.mt-20 {
  margin-top: 1.25rem;
}
.mt-30 {
  margin-top: 1.875rem;
}
.mt-50 {
  margin-top: 3.125rem;
}

.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}

.w-750 {
  width: 750px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1262px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.d-none {
  display: none !important;
}

* {
  font-family: 'Karla';
}

.justify-content {
  &-between {
    justify-content: space-between;
  }
  &-start {
    justify-content: flex-start;
  }
  &-end {
    justify-content: flex-end;
  }
  &-center {
    justify-content: center;
  }
}
.align-items {
  &-center {
    align-items: center;
  }
  &-start {
    align-items: flex-start;
  }
  &-end {
    align-items: flex-end;
  }
}

.text-center {
  text-align: center;
}

.clickable {
  transition: 300ms;
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

.text-transform {
  &-uppercase {
    text-transform: uppercase;
  }
}

button {
  outline: none;
  outline-color: transparent;
  &:focus {
    outline: none;
    outline-color: transparent;
  }
}

.text-underline {
  text-decoration: underline !important;
}

.bg-skills {
  background: #242424;
  padding: 45px 0;
}

.text-start {
  text-align: start !important;
}

.flex-1 {
  flex: 1;
}

.p-0 {
  padding: 0;
}